site-modules/feralcoder_common/files/facts_decrypt.txt
modules/
*.swp
reboot/
refacter/
stdlib/
*password.encrypted
*tgz.encrypted
git_resource
vcsrepo
manifests/*
!manifests/site.pp
dynamic_facter/*
!dynamic_facter/README
data/nodes/*
!data/nodes/README

apt/
cassandra/
firewall/
inifile/
puppet-abort/
translate/
set_env/
