[ObjectStorage]
# "LocalStorage" will use a directory on the local filesystem as if it
# were cloud storage.  "S3" is the module that uses real cloud storage.
# Note, changing this after running postConfigure will leave you with an
# an inconsistent view of the data.
service = LocalStorage

object_size = 5M

# DATA FOR MULTI-NODE, FROM DOCS: /var/lib/columnstore/dataN
metadata_path = /cephfs-data/<%= scope['fc_playlister_olap::cluster_name'] %>/columnstore/<%= @clientcert %>/storagemanager/metadata
journal_path = /cephfs-data/<%= scope['fc_playlister_olap::cluster_name'] %>/columnstore/<%= @clientcert %>/storagemanager/journal
max_concurrent_downloads = 21
max_concurrent_uploads = 21
common_prefix_depth = 3

#[S3]
#region = some_region
#bucket = some_bucket
# endpoint = storage.googleapis.com
# prefix = cs/
# aws_access_key_id =
# aws_secret_access_key =
# iam_role_name =
# sts_region =
# sts_endpoint =
# ec2_iam_mode=enabled

[LocalStorage]
path = /cephfs-data/<%= scope['fc_playlister_olap::cluster_name'] %>/columnstore/<%= @clientcert %>/storagemanager/fake-cloud
fake_latency = n
max_latency = 50000

[Cache]
cache_size = 2g
path = /cephfs-data/<%= scope['fc_playlister_olap::cluster_name'] %>/columnstore/<%= @clientcert %>/storagemanager/cache

